# --- LocalStack mode (devs) ---
TARGET_ENV=localstack
LOCALSTACK_AUTH_TOKEN=your_token_here
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
TF_ENDPOINT=http://localstack:4566

# --- AWS real mode (uncomment and fill) ---
# TARGET_ENV=aws
# AWS_ACCESS_KEY_ID=AKIA...
# AWS_SECRET_ACCESS_KEY=...
# AWS_DEFAULT_REGION=us-east-1
# TF_ENDPOINT=
