.env
.aws/credentials

# Terraform
infrastructure-dh/.terraform/
infrastructure-dh/.terraform.lock.hcl
infrastructure-dh/terraform.tfstate
infrastructure-dh/terraform.tfstate.backup
infrastructure-dh/*.tfvars
